* {
  box-sizing: border-box;
}

.header {
  background-color: #666;
  font-size: 35px;
  color: white;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.company-logo {
  margin-right: 10px;
}

.company-name {
  color: white;
  padding: 10px;
  margin: 0;
  margin-left: 350px; 
}

.main-section {
  display: flex;
}

.navigation {
  flex-basis: 30%;
  height: 550px;
  background: #ccc;
  padding: 20px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.article-content {
  flex-basis: 70%;
  padding: 20px;
  background-color: white;
  height: auto;
}

.footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .main-section {
    flex-direction: column;
  }

  .navigation, .article-content {
    flex-basis: auto;
    height: auto;
  }
}
