.familyFued{
    height: 600px;
    margin-top: 0px;
}
.answer-button {
    border: 1px solid #000;
    width: 180px;
    height: 50px;
    margin: 0;
    font-size: 20px;
    color: #f8dd44;
  }
  
  .answer-button.clicked {
    color: black;
    font-size: 20px;
  }
  
  .answers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    width: 200px;
    margin-right: 22%;
  }
  .score{
    width:150px;
    height: 70px;
    border-radius: 20px;
    background-color:antiquewhite;
    font-size: 18px;
  }
  .header{
    display: flex;
    justify-content: center;
    position: relative;
  }
  .team1{
    right: 75%;
    position: absolute;
    
  }
  .team2{
    left: 75%;
    position: absolute;
  }
.next-question{
    background-color: #f8dd44;
    width:140px;
    height: 40px;
    border-radius:10px;
    margin-right: 5px;  
}